<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- Define the servlet -->
    <servlet>
        <servlet-name>customerServlet</servlet-name>
        <servlet-class>com.example.CustomerController</servlet-class>
    </servlet>

    <!-- Map the servlet to the URL pattern -->
    <servlet-mapping>
        <servlet-name>customerServlet</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>

</web-app>
